<h1>Liste des events</h1>

<div class="mat-elevation-z2">

  @if (!loading){

  <table mat-table [dataSource]="events.content">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let event"> {{event.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let event"> {{event.description}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Date de début </th>
      <td mat-cell *matCellDef="let event"> {{event.startDate | date:'dd/MM/yyyy HH:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> Date de fin </th>
      <td mat-cell *matCellDef="let event"> {{event.endDate | date:'dd/MM/yyyy HH:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Lieu </th>
      <td mat-cell *matCellDef="let event"> {{event.location}} </td>
    </ng-container>

    <ng-container matColumnDef="maxCapacity">
      <th mat-header-cell *matHeaderCellDef> Capacité maximale </th>
      <td mat-cell *matCellDef="let event"> {{event.maxCapacity}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let event">
        <button mat-button [routerLink]="['/events', event.id]">Editer</button>
        <button mat-button (click)="deleteEvent(event)">Supprimer</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let bla; columns: displayedColumns;"></tr>
  </table>
  } @else {
    <mat-card>
      <mat-card-header>
        <mat-card-title>Chargemenr des données en cours</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-spinner></mat-spinner>
      </mat-card-content>
    </mat-card>
  }

  <mat-paginator [pageSizeOptions]="[3, 5, 10, 20]"
                 showFirstLastButtons
                 [pageIndex]="pageIndex"
                 [pageSize]="pageSize"
                 [length]="events && events.totalElements"
                 (page)="onPaginatorChange($event)"
  >
  </mat-paginator>

</div>

<button mat-raised-button routerLink="/events/new" color="primary">Ajouter un évènement</button>
