<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Nom de l'evènement</mat-label>
    <input matInput formControlName="name"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput formControlName="description"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date de début</mat-label>
    <mat-datetimepicker-toggle
      [for]="datetimePickerStart"
      matSuffix
    ></mat-datetimepicker-toggle>
    <mat-datetimepicker
      #datetimePickerStart
      [openOnFocus]="true"
      startView="month"
      type="datetime"
    ></mat-datetimepicker>
    <input
      [matDatetimepicker]="datetimePickerStart"
      autocomplete="false"
      formControlName="startDate"
      matInput
      [min]="moment()"
    />
    @if (form.get('startDate')?.errors?.startDate){
      <mat-error>La date de début doit être dans le futur</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date de fin</mat-label>
    <mat-datetimepicker-toggle
      [for]="datetimePickerEnd"
      matSuffix
    ></mat-datetimepicker-toggle>
    <mat-datetimepicker
      #datetimePickerEnd
      [openOnFocus]="true"
      startView="month"
      type="datetime"
    ></mat-datetimepicker>
    <input
      [matDatetimepicker]="datetimePickerEnd"
      autocomplete="false"
      formControlName="endDate"
      matInput
      [min]="getMinEndDate()"
    />
    @if (form.get('endDate')?.errors?.endDate){
      <mat-error>La date de fin doit être supérieure à la date de début</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Lieu</mat-label>
    <input matInput formControlName="location"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Capacité maximum</mat-label>
    <input matInput formControlName="maxCapacity"/>
    @if(form.get('maxCapacity')?.value < 1){
      <mat-error>Un minimum d'une personne est requise pour l'évènement</mat-error>
    }
    @else{
      <mat-error>{{event.totalParticipants}} participants sont déjà inscrits.</mat-error>
    }
  </mat-form-field>

  <button mat-button type="submit" [disabled]="form.disabled || form.invalid">Enregistrer</button>
</form>


