#list-event {
  padding: 1%;
}

#list-event > * {
  margin: 1% 0;
}

h1 {
  text-align: center;
}


div.mat-form-field-flex {
  align-items: flex-end;
}

div.mat-form-field-prefix {
  padding-right: 12px !important;
}

mat-toolbar > *{
  margin: 1%;
}

#toolbar-spacer {
  flex: 1 1 auto;
}
