@if(submitted && (user$ | async); as user){
  <div id="register-component">
    <mat-card class="mat-mdc-elevation-specific mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Enregistrement validé !</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        @if(user.role == 'ORGA'){
          <p>L'organisateur est créé.</p>
        }
        @else if(user.role == 'PARTICIPANT'){
          <p>Le participant {{asParticipant(user).firstName}} {{asParticipant(user).lastName}} est créé.</p>
        }
        <p>Vous pouvez vous connecter.</p>
      </mat-card-content>
    </mat-card>
    <button mat-raised-button color="primary" routerLink="/login">Se connecter</button>
  </div>

} @else {
  <h1>Nouvel utilisateur</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option value="ORGA">Organisateur</mat-option>
        <mat-option value="PARTICIPANT">Participant</mat-option>
      </mat-select>
    </mat-form-field>
    @if(form.value.role) {
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" [errorStateMatcher]="matcher"/>
        <mat-icon matSuffix>
          @if(!form.get('email')?.pristine && form.get('email'); as email){
            @if(email.pending){
              hourglass_empty
            }
            @else if (email.invalid && email.errors?.uniqueEmail){
              cancel
            }
            @else if(email.valid) {
              check
            }
          }
        </mat-icon>

        @if (form.get('email')?.errors?.uniqueEmail){
          <mat-error>Ce mail est déjà utilisé</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="password" type="password"/>
      </mat-form-field>
    }

    @if(form.value.role == 'PARTICIPANT'){
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput  formControlName="firstName"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="lastName"/>
      </mat-form-field>
    }

    <button mat-button type="submit" [disabled]="form.disabled || form.invalid || form.pending">S'enregistrer</button>
  </form>
}

