@if(submitted && (participant$ | async); as participant){
  <div id="register-component">
    <mat-card class="mat-mdc-elevation-specific mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Enregistrement validé !</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Le particpant {{participant.firstName}} {{participant.lastName}} est créé.</p>
        <p>Vous pouvez vous connecter.</p>
      </mat-card-content>
    </mat-card>
    <button mat-raised-button color="primary" routerLink="/login">Se connecter</button>
  </div>

} @else {
  <h1>Nouveau participant</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" [errorStateMatcher]="matcher"/>
      @if (form.get('email')?.errors?.uniqueEmail){
        <mat-error>Ce mail est déjà utilisé</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input matInput formControlName="password" type="password"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input matInput  formControlName="firstName"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="lastName"/>
    </mat-form-field>

    <button mat-button type="submit" [disabled]="form.disabled || form.invalid">S'enregistrer</button>
  </form>
}

